@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rethink Sans", sans-serif;
}

.center-title::after {
  content: '';
  height: 1px;
  width: 70px;
  background-color: #ab1218;
  display: block;
  margin: 15px auto 0 auto;
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.def-title::before {
  content: '';
  height: 2px;
  width: 0; /* Initially set width to 0 */
  position: absolute;
  top: 20px;
  background-color: #ab1218;
  transition: width 0.6s ease-in-out; /* Smooth transition */
}

:dir(ltr) .def-title::before {
  left: calc(-100% - 25px);
}

:dir(rtl) .def-title::before {
  right: calc(-100% - 25px);
}

.def-title.animate-line::before {
  animation: expandLine 0.6s ease-in-out forwards;
}


.fade-container {
  position: relative;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

/* Example CSS for RTL and LTR */
body:dir(rtl) {
  text-align: right;
}

body:dir(ltr) {
  text-align: left;
}

.image-container{
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}



